<!DOCTYPE html>
<html lang="en">




<!-- NAv BAR -->
<!-- This example requires Tailwind CSS v2.0+ -->
<nav class="bg-gray-800">
    <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
      <div class="relative flex items-center justify-between h-16">
        <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
          <!-- Mobile menu button-->
          <button type="button" class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-white hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white" aria-controls="mobile-menu" aria-expanded="false">
            <span class="sr-only">Open main menu</span>
            <!--
              Icon when menu is closed.
  
              Heroicon name: outline/menu
  
              Menu open: "hidden", Menu closed: "block"
            -->
            <svg class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
            </svg>
            <!--
              Icon when menu is open.
  
              Heroicon name: outline/x
  
              Menu open: "block", Menu closed: "hidden"
            -->
            <svg class="hidden h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button>
        </div>
        <div class="flex-1 flex items-center justify-center sm:items-stretch sm:justify-start">
          <div class="flex-shrink-0 flex items-center">
            
          </div>
          <div class="hidden sm:block sm:ml-6">
            <div class="flex space-x-4">
              <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
              <a href="/" class="text-white px-3 py-2 rounded-md text-sm font-medium">STARTUP GUIDE</a>
              <a href="/event" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Events</a>
              <a href="/blogs" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Blogs</a>
              <a href="#/send Messages" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Sent Messages</a>
              <a href="/chatdb" class="bg-gray-900 text-gray-300 px-3 py-2 rounded-md text-sm font-medium">Community Chat</a>
              
            </div>
          </div>
        </div>
        <div class="flex justify-end">
          <a href="/" class="text-gray-300 rounded-full bg-red-600 hover:bg-red-400 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Log Out</a>
        </div>
        </div>
      </div>
    </div>
  </nav>
  



        <section>
            <div class="bg-white max-w-lg mx-auto p-8 md:p-12 my-4 rounded-2xl shadow-2xl mt-24">
                <div class="max-w-lg mx-auto">
                    <h1 class="m-0 text-3xl font-bold text-blue-900 text-center">
                        <i class="fas fa-smile"></i>Community Chat
                    </h1>
                    
                </div>

                <div class="mt-10">
                    <form action="chat.html" class="w-full flex flex-col">
                        <div class="m-1 p-1 rounded bg-transperent">
                            <label class="block text-blue-900 text-2xl font-bold mb-4" for="username">
                                Username
                            </label>
                            <input name="username"
                                class="appearance-none block w-full bg-gray-200 text-blue-900 border-b-2 border-gray-600 rounded py-3 px-4 mb-3 leading-tight hover:bg-gray-300 focus:outline-none focus:border-gray-900 focus:bg-gray-300 transition duration-200"
                                id="username" type="text" placeholder="Enter username..." required/>
                        </div>
                        <div class="m-1 p-1 rounded bg-transperent">
                            <label for="room" class="block text-blue-900 text-2xl font-bold mb-4">
                                Room
                            </label>
                            <select name="room" id="room" class="appearance-none block w-full bg-gray-200 text-blue-900 border-b-2 border-gray-600 rounded py-3 px-4 mb-3 leading-tight hover:bg-gray-300 focus:outline-none focus:border-gray-900 focus:bg-gray-300 transition duration-200">
                                <option value="JavaScript" class="bg-red-100">JavaScript</option>
                                <option value="Python" class="bg-red-100">Python</option>
                                <option value="PHP" class="bg-red-100">PHP</option>
                                <option value="C#" class="bg-red-100">C#</option>
                                <option value="Ruby" class="bg-red-100">Ruby</option>
                                <option value="Java" class="bg-red-100">Java</option>
                                <option value="Java" class="bg-red-100">C</option>
                                <option value="Java" class="bg-red-100">General</option>
                            </select>
                        </div>
                        <div class="flex justify-center mt-4">
                            <button type="submit"
                                class="mt-4 w-full bg-red-600 text-white text-2xl font-bold p-2 rounded-full shadow-lg hover:bg-red-500 hover:shadow-xl transition duration-200">
                                Join Chat
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </section>
        

    <!-- SCRIPTS -->
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>
</html>