<!-- NAv BAR -->
<!-- This example requires Tailwind CSS v2.0+ -->
<nav class="bg-gray-800">
  <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
    <div class="relative flex items-center justify-between h-16">
      <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
        <!-- Mobile menu button-->
        <button type="button" class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-white hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white" aria-controls="mobile-menu" aria-expanded="false">
          <span class="sr-only">Open main menu</span>
          <!--
            Icon when menu is closed.

            Heroicon name: outline/menu

            Menu open: "hidden", Menu closed: "block"
          -->
          <svg class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
          </svg>
          <!--
            Icon when menu is open.

            Heroicon name: outline/x

            Menu open: "block", Menu closed: "hidden"
          -->
          <svg class="hidden h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>
      <div class="flex-1 flex items-center justify-center sm:items-stretch sm:justify-start">
        <div class="flex-shrink-0 flex items-center">
          
        </div>
        <div class="hidden sm:block sm:ml-6">
          <div class="flex space-x-4">
            <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
            <a href="/" class="text-white px-3 py-2 rounded-md text-sm font-medium">STARTUP GUIDE</a>
            <a href="/event" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Events</a>
            <a href="/blogs" class="bg-gray-900 text-white px-3 py-2 rounded-md text-sm font-medium">Blogs</a>
            <a href="#/send Messages" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Sent Messages</a>
            <a href="/chatdb" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Community Chat</a>
            
          </div>
        </div>
      </div>
      <div class="flex justify-end">
        <a href="/" class="text-gray-300 rounded-full bg-red-600 hover:bg-red-400 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Log Out</a>
      </div>
      </div>
    </div>
  </div>
</nav>





<section class="bg-white rounded-3xl shadow-lg max-w-xl mx-auto my-8 p-8 rounded-3xl shadow-lg">
  <div class="flex justify-center text-4xl"><h1 class="text-blue-900 font-bold">Publish Blog</h1></div>
  <div class="flex justify-center pt-10">
    <form action="/createblog" method="POST" class="w-full content-center">
      <div class="flex flex-wrap mb-6">
        <div class="w-full">
          <label class="block uppercase tracking-wide text-blue-900 text-lg font-bold mb-2">
            Blog Title
          </label>
          <input name="title" class="appearance-none block w-full bg-gray-200 text-blue-900 border-b-2 border-gray-600 rounded py-3 px-4 mb-3 leading-tight hover:bg-gray-300 focus:outline-none focus:border-gray-900 focus:bg-gray-300 transition duration-200" type="text" placeholder="Blog Title">
        </div>
      </div>
      <div class="flex flex-wrap mb-6">
        <div class="w-full">
          <label class="block uppercase tracking-wide text-blue-900 text-lg font-bold mb-2">
            Blog Description
          </label>
          <input name="description" class="appearance-none block w-full bg-gray-200 text-blue-900 border-b-2 border-gray-600 rounded py-3 px-4 mb-3 leading-tight hover:bg-gray-300 focus:outline-none focus:border-gray-900 focus:bg-gray-300 transition duration-200" type="text" placeholder="Blog-Description">
        </div>
      </div>
      <div class="flex flex-wrap mb-6">
        <div class="w-full md:w-1/3 pr-3 mb-6 md:mb-0">
          <label class="block uppercase tracking-wide text-blue-900 text-lg font-bold mb-2">
            Added By: 
          </label>
          <input name="addedby" class="appearance-none block w-full bg-gray-200 text-blue-900 border-b-2 border-gray-600 rounded py-3 px-4 mb-3 leading-tight hover:bg-gray-300 focus:outline-none focus:border-gray-900 focus:bg-gray-300 transition duration-200" type="text" placeholder="Your Name">
        </div>
        <div class="w-full md:w-1/3 mb-6 md:mb-0">
          <label class="block uppercase tracking-wide text-blue-900 text-lg font-bold mb-2">
            Time
          </label>
          <input name="time" class="appearance-none block w-full bg-gray-200 text-blue-900 border-b-2 border-gray-600 rounded py-3 px-4 mb-3 leading-tight hover:bg-gray-300 focus:outline-none focus:border-gray-900 focus:bg-gray-300 transition duration-200" type="text" placeholder="Time">
        </div>
        <div class="w-full md:w-1/3 pl-3 mb-6 md:mb-0">
          <label class="block uppercase tracking-wide text-blue-900 text-lg font-bold mb-2">
            Technology
          </label>
          <input name="technology" class="appearance-none block w-full bg-gray-200 text-blue-900 border-b-2 border-gray-600 rounded py-3 px-4 mb-3 leading-tight hover:bg-gray-300 focus:outline-none focus:border-gray-900 focus:bg-gray-300 transition duration-200" type="text" placeholder="#javascript">
        </div>
      </div>
      <div class="flex flex-wrap">
        <div class="w-full md:w-1/3 pr-3 mb-6 md:mb-0">
          <label class="block uppercase tracking-wide text-blue-900 text-lg font-bold mb-2">
            Date
          </label>


          <div>
            <link rel="stylesheet" href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css">
            <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.js" defer></script>
          
            <style>
              [x-cloak] {
                display: none;
              }
            </style>
          
            <div>
                <div x-data="app()" x-init="[initDate(), getNoOfDays()]" x-cloak>
                    <div>
                        <div class="mb-3 bg-gray-200 text-blue-900 border-b-2 border-gray-600 rounded mb-3 leading-tight hover:bg-gray-300 focus:outline-none focus:border-gray-900 focus:bg-gray-300 transition duration-200">

                            <div class="relative">
                                <input type="hidden" name="date" x-ref="date">
                                <input 
                                    type="text"
                                    readonly
                                    x-model="datepickerValue"
                                    @click="showDatepicker = !showDatepicker"
                                    @keydown.escape="showDatepicker = false"
                                    class="bg-transparent w-full pl-4 pr-10 py-3 leading-none rounded-lg focus:outline-none text-gray-600 font-medium"
                                    placeholder="Select date">
          
                                    <div class="absolute top-0 right-0 px-3 py-3">
                                        <svg class="h-6 w-6 text-gray-600"  fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z"/>
                                        </svg>
                                    </div>
          
          
                                    <!-- <div x-text="no_of_days.length"></div>
                                    <div x-text="32 - new Date(year, month, 32).getDate()"></div>
                                    <div x-text="new Date(year, month).getDay()"></div> -->
          
                                    <div 
                                        class="bg-gray-200 -mt-64 rounded-xl shadow-xl p-4  absolute top-0 left-0" 
                                        style="width: 17rem" 
                                        x-show.transition="showDatepicker"
                                        @click.away="showDatepicker = false">
          
                                        <div class="flex justify-between items-center mb-2">
                                            <div>
                                                <span x-text="MONTH_NAMES[month]" class="text-lg font-bold text-gray-700"></span>
                                                <span x-text="year" class="ml-1 text-lg text-gray-600 font-normal"></span>
                                            </div>
                                            <div>
                                                <button 
                                                    type="button"
                                                    class="transition ease-in-out duration-100 inline-flex cursor-pointer hover:bg-gray-200 p-1 rounded-full" 
                                                    :class="{'cursor-not-allowed opacity-25': month == 0 }"
                                                    :disabled="month == 0 ? true : false"
                                                    @click="month--; getNoOfDays()">
                                                    <svg class="h-6 w-6 text-gray-500 inline-flex"  fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"/>
                                                    </svg>  
                                                </button>
                                                <button 
                                                    type="button"
                                                    class="transition ease-in-out duration-100 inline-flex cursor-pointer hover:bg-gray-200 p-1 rounded-full" 
                                                    :class="{'cursor-not-allowed opacity-25': month == 11 }"
                                                    :disabled="month == 11 ? true : false"
                                                    @click="month++; getNoOfDays()">
                                                    <svg class="h-6 w-6 text-gray-500 inline-flex"  fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"/>
                                                    </svg>									  
                                                </button>
                                            </div>
                                        </div>
          
                                        <div class="flex flex-wrap mb-3 -mx-1">
                                            <template x-for="(day, index) in DAYS" :key="index">	
                                                <div style="width: 14.26%" class="px-1">
                                                    <div
                                                        x-text="day" 
                                                        class="text-gray-800 font-medium text-center text-xs"></div>
                                                </div>
                                            </template>
                                        </div>
          
                                        <div class="flex flex-wrap -mx-1">
                                            <template x-for="blankday in blankdays">
                                                <div 
                                                    style="width: 14.28%"
                                                    class="text-center border p-1 border-transparent text-sm"	
                                                ></div>
                                            </template>	
                                            <template x-for="(date, dateIndex) in no_of_days" :key="dateIndex">	
                                                <div style="width: 14.28%" class="px-1 mb-1">
                                                    <div
                                                        @click="getDateValue(date)"
                                                        x-text="date"
                                                        class="cursor-pointer text-center text-sm leading-none rounded-full leading-loose transition ease-in-out duration-100 text-gray-700 hover:bg-gray-600 hover:text-white"
                                                        :class="{'bg-gray-800 text-white': isToday(date) == true, 'text-gray-700 hover:bg-gray-600 hover:text-white': isToday(date) == false }"	
                                                    ></div>
                                                </div>
                                            </template>
                                        </div>
                                    </div>
          
                            </div>	 
                        </div>
          
                    </div>
                </div>
                <script>
                    const MONTH_NAMES = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
                    const DAYS = ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'];
          
                    function app() {
                        return {
                            showDatepicker: false,
                            datepickerValue: '',
          
                            month: '',
                            year: '',
                            no_of_days: [],
                            blankdays: [],
                            days: ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'],
          
                            initDate() {
                                let today = new Date();
                                this.month = today.getMonth();
                                this.year = today.getFullYear();
                                this.datepickerValue = new Date(this.year, this.month, today.getDate()).toDateString();
                            },
          
                            isToday(date) {
                                const today = new Date();
                                const d = new Date(this.year, this.month, date);
          
                                return today.toDateString() === d.toDateString() ? true : false;
                            },
          
                            getDateValue(date) {
                                let selectedDate = new Date(this.year, this.month, date);
                                this.datepickerValue = selectedDate.toDateString();
          
                                this.$refs.date.value = selectedDate.getFullYear() +"-"+ ('0'+ selectedDate.getMonth()).slice(-2) +"-"+ ('0' + selectedDate.getDate()).slice(-2);
          
                                console.log(this.$refs.date.value);
          
                                this.showDatepicker = false;
                            },
          
                            getNoOfDays() {
                                let daysInMonth = new Date(this.year, this.month + 1, 0).getDate();
          
                                // find where to start calendar day of week
                                let dayOfWeek = new Date(this.year, this.month).getDay();
                                let blankdaysArray = [];
                                for ( var i=1; i <= dayOfWeek; i++) {
                                    blankdaysArray.push(i);
                                }
          
                                let daysArray = [];
                                for ( var i=1; i <= daysInMonth; i++) {
                                    daysArray.push(i);
                                }
          
                                this.blankdays = blankdaysArray;
                                this.no_of_days = daysArray;
                            }
                        }
                    }
                </script>
              </div>
          </div>


        </div>
        <div class="self-end w-full md:w-1/3 mb-6 md:mb-0">
          <button class="text-gray-300 rounded-full bg-red-600 hover:bg-red-400 hover:text-white font-bold mb-3 py-2 px-4 w-full rounded-full" type="submit">
            Create_Blog
          </button>
        </div>
        <div class="self-end w-full md:w-1/3 pl-3 mb-6 md:mb-0">
          <button class="text-gray-300 rounded-full bg-red-600 hover:bg-red-400 hover:text-white font-bold mb-3 py-2 px-4 w-full rounded-full">
            <a href="/blogs">List_all_blogs</a>
            </button>
        </div>
      </div>
          





























<section class="flex justify-center text-4xl mt-10"><h1>Create Blog</h1></section>
<section class="flex justify-center pt-24">
<form action="/createblog" method="POST" class="w-full max-w-lg content-center">
  <div class="flex flex-wrap -mx-3 mb-6">
    <div class="w-full px-3">
      <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">
        Blog Title
      </label>
      <input name="title" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" type="text" placeholder="Event Title">
 
    </div>
  </div>
  <div class="flex flex-wrap -mx-3 mb-6">
    <div class="w-full px-3">
      <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">
        Blog Description
      </label>
      <input name="description" class="h-100% appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" type="text" placeholder="Blog-Description">
    </div>
  </div>
  <div class="flex flex-wrap -mx-3 mb-2">
    <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
      <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">
        Technology 
      </label>
      <input name="technology" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" type="text" placeholder="#javascript">
    </div>
    

          <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-10 rounded-full mt-12" type="submit">
  			Publish Blog
			</button>
      <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-10 rounded-full mt-12">
       <a href="/userdashboard">List_all_Blogs</a>
      </button>

    </div>

  </div>

</form>
